{% block body %}
<link href="{{ asset('styles/formulaire.css') }}" rel="stylesheet" />
<script src="{{ asset('js/form.js') }}"></script>

<div class="fond-modale" id="modaleTache">
  <div class="contenu-modale">
    <div class="en-tete">
      <h5 class="titre-modale">Ajouter une tâche</h5>
      <button type="button" class="bouton-fermer" aria-label="Fermer">&times;</button>
    </div>
    <div class="contenu-principal">
        {{ form_start(addTaskForm, { 'attr': { 'id': 'formTache', 'action': path('add-task', { 'project_id': project_id }) } }) }}
      <div class="champ-groupe">
        <label for="description">Description</label>
        {{ form_widget(addTaskForm.description, { 'attr': { 'id': 'description', 'class': 'champ-input' } }) }}
      </div>
      <div class="champ-groupe">
        <label for="date_debut_tache">Date de début</label>
        {{ form_widget(addTaskForm.date_debut_tache, { 'attr': { 'id': 'date_debut_tache', 'class': 'champ-input' } }) }}
      </div>
      <div class="champ-groupe">
        <label for="date_fin_tache">Date de fin</label>
        {{ form_widget(addTaskForm.date_fin_tache, { 'attr': { 'id': 'date_fin_tache', 'class': 'champ-input' } }) }}
      </div>
      {{ form_end(addTaskForm) }}
    </div>
    <div class="pied-modale">
      <button type="button" class="bouton-fermer">Fermer</button>
      <button type="submit" form="formTache" class="bouton-nouveau">Créer</button>
    </div>
  </div>
</div>
{% endblock %}
