{% extends 'base.html.twig' %}

{% block title %}My Active Projects{% endblock %}

{% block form %}
   {% if is_manager %}
        {% include 'Form/addProject.html.twig' %}
    {% endif %}
{% endblock %}

{% block body %}

<main class="page">


    <h1>Nos projets en cours</h1>
    <div class="statuts-filtres">
            <p class="statut pas_commence">Pas encore commencé</p>
            <p class="statut en_cours">En cours</p>
            <p class="statut termine">Terminé</p>
            {% if is_granted("ROLE_MANAGER") %}
            <p class="statut en_retard">En retard</p>
            {% endif %}
    </div>

    <div class="projects_section">
        {% set date_aujourdhui = date('now') %}
        <div class="project_cartes">
            {% for project in projects %}
                {% if is_granted("ROLE_MANAGER") %}
                    <div class="carte {{ project.getStatutProjet }}">
                        <a href="{{ path('app_tasks_day', { 'project_id': project.id }) }}">
                            <h3>{{ project.designation }}</h3>
                            <p>Chef de Projet : {{ project.user.nom }} {{ project.user.prenom }}</p>
                            <p>Date de Début : {{ project.date_debut|date('d-m-Y') }}</p>
                            <p>Date de Fin : {{ project.date_fin|date('d-m-Y') }}</p>
                        </a>
                        <form class="del_project" action="{{ path('project_delete', { 'project_id': project.id }) }}" method="post" style="display: inline;" onsubmit="return confirm('Attention ! Vous allez supprimer le projet !');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete_project_' ~ project.id) }}">
                            <button type="submit"><img src="{{ asset('/images/icons/delete(2).png') }}" height="40px" width="35px"></img></button>
                        </form>

                    </div>
                {% else %}
                    {% if date_aujourdhui >= project.date_debut and date_aujourdhui <= project.date_fin %}
                    <div class="carte {{ project.getStatutProjet }}">
                        <a href="{{ path('app_tasks_day', { 'project_id': project.id }) }}">
                            <h3>{{ project.designation }}</h3>
                            <p>Chef de Projet : {{ project.user.nom }} {{ project.user.prenom }}</p>
                            <p>Date de Début : {{ project.date_debut|date('d-m-Y') }}</p>
                            <p>Date de Fin : {{ project.date_fin|date('d-m-Y') }}</p>
                         </a>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
