<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link href="{{ asset('styles/app.css') }}" rel="stylesheet"/>
    <link href="{{ asset('styles/project.css') }}" rel="stylesheet"/>




    {% block javascripts %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
            const body = document.body;
            const themeButton = document.getElementById('theme-toggle');
            const logo = document.getElementById('logo');
        
            // Définir les URLs des logos en fonction du thème clair et sombre
            const lightLogo = "{{ (asset('images/logos/suip_claire.png')) }}";
            const darkLogo = "{{ (asset('images/logos/suip_sombre1.png')) }}";
        
            // Vérifie le thème stocké dans localStorage et applique le thème
            if (localStorage.getItem('theme') === 'light') {
                body.classList.add('light-mode');
                themeButton.textContent = 'Mode sombre';
                logo.src = lightLogo;
            } else {
                body.classList.remove('light-mode');
                themeButton.textContent = 'Mode claire';
                logo.src = darkLogo;
            }
        
            // Bascule entre les modes clair et sombre et sauvegarde la préférence
            themeButton.addEventListener('click', function() {
                body.classList.toggle('light-mode');
                if (body.classList.contains('light-mode')) {
                    themeButton.textContent = 'Mode sombre';
                    localStorage.setItem('theme', 'light');
                    logo.src = lightLogo;
                } else {
                    themeButton.textContent = 'Mode claire';
                    localStorage.setItem('theme', 'dark');
                    logo.src = darkLogo;
                }
            });
        });
        </script>
    {% endblock %}
</head>
<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <img id="logo" height="120px" width="120px" src="{{ asset('images/logos/logo.png') }}" alt="Logo">
        
        <nav>
            <ul>
                <li><a href="{{ path('app_projects') }}" class="{{ app.request.attributes.get('_route') starts with 'app_projects' ? 'active' : '' }}">Projets</a></li>
                <li><a href="" class="{{ app.request.attributes.get('_route') starts with 'app_tasks' ? 'active' : '' }}">Tâches</a></li>
                {% if is_granted("ROLE_MANAGER") %}
                   {% if app.request.attributes.get('_route') == 'app_projects_manager' %}
                    <li><a href="" data-open-modale="modaleProjet" class="ouvrir-modale">Ajouter un projet</a></li>
                   {% endif %}

                   {% if app.request.attributes.get('_route') starts with 'app_tasks' %}
                    <li><a href="" data-open-modale="modaleTache" class="ouvrir-modale">Ajouter une tâche</a></li>
                   {% endif %}
                {% endif %}

                {% if is_granted("ROLE_ADMIN") %}
                    <li><a href="{{ path('app_admin') }}" class="{{ app.request.attributes.get('_route') starts with 'app_admin' ? 'active' : '' }}">chefs de projets</a></li>
                {% endif %}
                {% if is_granted('IS_IMPERSONATOR') %}
                     <li><a href="{{ path('app_admin', { '_switch_user': '_exit' }) }}" >Revenir en tant qu'admin</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <!-- Main Content -->
    <div class="main-content">

        <!-- Header -->
        <header style='display: flex; justify-content: end;'>
            <div class="header-options">
                <button id="theme-toggle">Mode</button>
                {% if is_granted("ROLE_MANAGER") or is_granted("ROLE_ADMIN") %}
                <a href="{{ path('app_logout') }}"><button>Se déconnecter</button></a>
                {% else %}
                <a href="{{ path('app_login') }}"><button>Se connecter</button></a>
                {% endif %}
            </div>
        </header>

        <nav class="sub-navigation">
             <ul>
                <li><a href="{{ path('app_projects') }}" class="{{ app.request.attributes.get('_route') starts with 'app_projects' ? 'active' : '' }}">Projets</a></li>
                <li><a href="" class="{{ app.request.attributes.get('_route') starts with 'app_tasks' ? 'active' : '' }}">Tasks</a></li>
                {% if is_granted("ROLE_MANAGER") %}
                   {% if app.request.attributes.get('_route') == 'app_projects_manager' %}
                    <li><a href="#" data-open-modale="modaleProjet" class="ouvrir-modale">Ajouter un projet</a></li>
                   {% endif %}

                   {% if app.request.attributes.get('_route') starts with 'app_tasks' %}
                    <li><a href="#" data-open-modale="modaleTache" class="ouvrir-modale">Ajouter une tâche</a></li>
                   {% endif %}
                {% endif %}

                {% if is_granted("ROLE_ADMIN") %}

                    <li><a href="" class="{{ app.request.attributes.get('_route') starts with 'app_admin' ? 'active' : '' }}">chefs de projets</a></li>

                {% endif %}
            </ul>
        </nav>

        <!-- Main Body Content -->
        {% block body %}{% endblock %}
        {% block form %}{% endblock %}
    </div>

</body>
</html>
